<label class="text-center form-label">Times</label>
<div class="d-flex align-items-center justify-content-around">
  <div class="m-1">
    <label for="exampleFormControlInput1" class="form-label">Pomodoro</label>
    <input class="form-control" id="exampleFormControlInput1" />
  </div>
  <div class="m-1">
    <label for="exampleFormControlInput1" class="form-label">Short Break</label>
    <input class="form-control" id="exampleFormControlInput1" />
  </div>
  <div class="m-1">
    <label for="exampleFormControlInput1" class="form-label">Long Break</label>
    <input class="form-control" id="exampleFormControlInput1" />
  </div>
</div>
<hr />
<div class="d-flex align-items-center justify-content-between">
  <label class="form-label">Color</label>
  <div class="d-flex">
    <button mat-mini-fab class="m-1" color="">A</button>
    <button mat-mini-fab class="m-1" color="primary">B</button>
    <button mat-mini-fab class="m-1" color="warn">C</button>
  </div>
</div>
<hr />
<div class="d-flex align-items-center justify-content-between">
  <label class="form-label">Font</label>
  <div class="d-flex">
    <button mat-mini-fab class="m-1" color="">A</button>
    <button mat-mini-fab class="m-1" color="primary">B</button>
    <button mat-mini-fab class="m-1" color="warn">C</button>
  </div>
</div>
<hr />
<div class="d-flex align-items-center justify-content-between">
  <label class="form-label">Light Mode</label>
  <div class="d-flex">
    <button mat-mini-fab class="m-1" color="primary">L</button>
    <button mat-mini-fab class="m-1" color="warn">D</button>
  </div>
</div>
