<h3>Settings</h3>
<hr />
<label class="text-center form-label main-label">Times</label>
<form [formGroup]="timesFormGroup">
  <div
    class="d-flex"
    [ngClass]="{
      'align-items-center justify-content-between': !isMobile,
      'flex-column': isMobile
    }"
  >
    <div class="m-1" [ngClass]="{ 'd-flex align-items-center': isMobile }">
      <label
        for="exampleFormControlInput1"
        class="form-label sub-label"
        [ngClass]="{ 'flex-grow-1': isMobile }"
        >Pomodoro <span class="text-muted small">(mins)</span></label
      >
      <input
        class="form-control"
        [ngClass]="{ 'w-50': isMobile }"
        id="exampleFormControlInput1"
        formControlName="pomodoro"
      />
    </div>
    <div class="m-1" [ngClass]="{ 'd-flex align-items-center': isMobile }">
      <label
        for="exampleFormControlInput1"
        class="form-label sub-label"
        [ngClass]="{ 'flex-grow-1': isMobile }"
        >Short Break <span class="text-muted small">(mins)</span></label
      >
      <input
        class="form-control"
        [ngClass]="{ 'w-50': isMobile }"
        id="exampleFormControlInput1"
        formControlName="shortBreak"
      />
    </div>
    <div class="m-1" [ngClass]="{ 'd-flex align-items-center': isMobile }">
      <label
        for="exampleFormControlInput1"
        class="form-label sub-label"
        [ngClass]="{ 'flex-grow-1': isMobile }"
        >Long Break <span class="text-muted small">(mins)</span></label
      >
      <input
        class="form-control"
        [ngClass]="{ 'w-50': isMobile }"
        id="exampleFormControlInput1"
        formControlName="longBreak"
      />
    </div>
  </div>
</form>

<hr />
<div class="d-flex align-items-center justify-content-between">
  <label class="form-label main-label">Color</label>
  <div class="d-flex">
    <button mat-mini-fab class="m-1 red-button" (click)="onUpdateColor('red')">
      <fa-icon *ngIf="getIsColor('red')" [icon]="faCheck"></fa-icon>
    </button>
    <button
      mat-mini-fab
      class="m-1 green-button"
      (click)="onUpdateColor('green')"
    >
      <fa-icon *ngIf="getIsColor('green')" [icon]="faCheck"></fa-icon>
    </button>
    <button
      mat-mini-fab
      class="m-1 purple-button"
      (click)="onUpdateColor('purple')"
    >
      <fa-icon *ngIf="getIsColor('purple')" [icon]="faCheck"></fa-icon>
    </button>
  </div>
</div>
<hr />
<div class="d-flex align-items-center justify-content-between">
  <label class="form-label main-label">Font</label>
  <div class="d-flex">
    <button
      mat-mini-fab
      class="m-1"
      color=""
      (click)="onUpdateFont('roboto')"
      [ngClass]="{ selected: getIsFont('roboto') }"
    >
      <span class="font-roboto">Aa</span>
    </button>
    <button
      mat-mini-fab
      class="m-1"
      (click)="onUpdateFont('helv')"
      color=""
      [ngClass]="{ selected: getIsFont('helv') }"
    >
      <span class="font-helv">Aa</span>
    </button>
    <button
      mat-mini-fab
      class="m-1"
      (click)="onUpdateFont('arial')"
      color=""
      [ngClass]="{ selected: getIsFont('arial') }"
    >
      <span class="font-arial">Aa</span>
    </button>
  </div>
</div>
<hr />
<div class="d-flex align-items-center justify-content-between">
  <label class="form-label main-label">Light Mode</label>
  <div class="d-flex">
    <button
      mat-mini-fab
      class="m-1"
      [ngClass]="{ selected: getIsLightMode() }"
      (click)="onUpdateLightMode(true)"
      color=""
    >
      <fa-icon [icon]="faSun"></fa-icon>
    </button>
    <button
      mat-mini-fab
      class="m-1"
      [ngClass]="{ selected: !getIsLightMode() }"
      (click)="onUpdateLightMode(false)"
      color=""
    >
      <fa-icon [icon]="faMoon"></fa-icon>
    </button>
  </div>
</div>
<hr />
<div mat-dialog-actions>
  <button mat-stroked-button mat-dialog-close="">Close</button>
</div>
