<mat-progress-spinner diameter="200" [value]="timerProgress">
</mat-progress-spinner>
<div class="spinner-text">
  <div class="d-flex flex-column">
    <h1 class="text-center">
      {{ timerService.currentTime * 1000 | date: "mm:ss" }}
    </h1>
    <div class="d-flex">
      <button
        mat-icon-button
        (click)="timerOn ? onStopTimer() : onStartTimer()"
      >
        <fa-icon [icon]="playPauseIcon"></fa-icon>
      </button>
      <button mat-icon-button (click)="onClearTimer()">
        <fa-icon [icon]="faRotateLeft"></fa-icon>
      </button>
    </div>
  </div>
</div>
