@import "./theme/colours";
@import "./mat-theme.scss";

/* You can add global styles to this file, and also import other style files */
@import "./components/button-toggle";
@import "./components/spinner";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.light-mode {
  body,
  .mat-dialog-container,
  .form-control {
    background-color: $neutral-light;
    color: $neutral-dark;
  }
}

.dark-mode {
  body,
  .mat-dialog-container,
  .form-control {
    background-color: $neutral-dark;
    color: $neutral-light;
  }
}
