//@import "./bootstrap-modules.scss";
@import "./mat-theme.scss";
@import "./theme/theme";
@import "./components/components.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.color-red {
  @include colour($red-primary);
}

.color-green {
  @include colour($green-primary);
}

.color-purple {
  @include colour($purple-primary);
}

.font-roboto {
  @include font($font-roboto);
}

.font-helv {
  @include font($font-helv);
}

.font-arial {
  @include font($font-arial);
}

.light-mode {
  @include light-mode();
}

.dark-mode {
  @include dark-mode();
}
