<div class="d-flex justify-content-center">
  <div class="d-flex flex-column">
    <div
      class="container-above-below d-flex align-items-center justify-content-center"
    >
      <app-timer-type-switcher></app-timer-type-switcher>
    </div>
    <div
      class="container-main d-flex align-items-center justify-content-center"
    >
      <app-timer-main class="timer-container"></app-timer-main>
    </div>
    <div
      class="container-above-below d-flex align-items-center justify-content-center"
    >
      <button
        mat-icon-button
        type="button"
        aria-label="open settings"
        (click)="onOpenSettings()"
      >
        <fa-icon [icon]="faGear"></fa-icon>
      </button>
    </div>
  </div>
</div>
