@use "@angular/material" as mat;

$neutral-palette: mat.define-palette(mat.$gray-palette);
$neutral-dark: map-get($neutral-palette, 900);
$neutral: map-get($neutral-palette, 400);
$neutral-light: map-get($neutral-palette, 50);

$red-palette: mat.define-palette(mat.$deep-orange-palette);
$red-primary: map-get($red-palette, 400);

$green-palette: mat.define-palette(mat.$teal-palette);
$green-primary: map-get($green-palette, 400);

$purple-palette: mat.define-palette(mat.$purple-palette);
$purple-primary: map-get($purple-palette, 400);
