$font-roboto: Roboto;
$font-helv: "Helvetica Neue";
$font-arial: "Arial";

@mixin font($font) {
  font-family: $font;
  body,
  h1 {
    font-family: $font;
  }
  .mat-button-toggle,
  .mat-stroked-button {
    font-family: $font !important;
  }
  .mat-h3,
  .mat-subheading-2,
  .mat-typography .mat-h3,
  .mat-typography .mat-subheading-2,
  .mat-typography h3 {
    font: 400 16px / 28px $font;
    letter-spacing: normal;
    margin: 0 0 16px;
  }
}
